:root {
  --active-color: #00acdc;
}

html {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-size: 12px;
}

.logo {
  width: 40px;
  height: 40px;
}

.ul_list {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.ul_list li {
  height: 15px;
}

.ul_list li:not(:last-child) {
  margin-right: 20px;
}

.ul_list a {
  text-decoration: none;
  color: #000;
}

.ul_list a:hover {
  color: var(--active-color);
}

.is-active {
  color: var(--active-color);
  position: relative;
}

.is-active::after {
  content: '';
  display: block;
  height: 4px;
  background: var(--active-color);
  position: absolute;
  bottom: -18.5px;
  width: 100%;
  border-radius: 8px;
}
